* {
  padding: 0;
  margin: 0;
  outline: none;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

html {
  font-size: 62.5%;
  background-image: url(images/slika.png);
  scroll-behavior: smooth;
}

/*Bez font awsome */
.hamburger-menu {
  width: 3rem;
  height: 3rem;
  position: fixed;
  top: 5rem;
  right: 5rem;
  z-index: 200;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  cursor: pointer;
  transition: right 0.7s;
}

.change .hamburger-menu {
  right: 33rem;
}

.line {
  height: 0.2rem;
  width: 100%;
  background-color: white;
  box-shadow: 0 0.1rem 0.2rem rgba(0, 0, 0, 0.2);
  background-color: white;
}

.change .line-1 {
  transform: rotate(45deg) translate(0.3rem, 0.8rem);
}

.change .line-2 {
  opacity: 0;
  visibility: hidden;
}

.change .line-3 {
  transform: rotate(-45deg) translate(0.3rem, -0.8rem);
}

.hamburger-menu span {
  position: absolute;
  left: 5rem;
  width: 10rem;
  height: 4rem;
  background-color: #555;
  color: chocolate;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Baloo Da 2", serif;
  font-size: 1.6rem;
  letter-spacing: 0.1rem;
  opacity: 0;
  visibility: hidden;
  transition: all 0.2s;
}

.change .hamburger-menu:hover span {
  opacity: 1;
  visibility: visible;
}

.hamburger-menu span::before {
  content: "";
  position: absolute;
  border-left: 1rem solid transparent;
  border-right: 1rem solid #555;
  border-bottom: 1rem solid transparent;
  border-top: 1rem solid transparent;
  top: 25%;
  left: -1.05rem;
  transform: translate(-50%);
}

/*Css za pocetnu stranicu*/
.header {
  width: 100%;
  height: 100vh;
  position: relative;
  perspective: 100rem;
  overflow: hidden;
  /*stvaram 3d okolinu*/
}

.img-wrapper {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  overflow: hidden;
}

.img-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.5;
  animation-name: scale;
  animation-duration: 25s;
}

@keyframes scale {
  0% {
    transform: scale(1.3);
  }

  100% {
    transform: scale(1);
  }
}

.banner {
  position: absolute;
  top: 30%;
  left: 15%;
}

.banner h1 {
  font-family: "Baloo Da 2", serif;
  font-size: 8rem;
  font-weight: 300;
  color: #fff;
  width: 50%;
  line-height: 9rem;
  letter-spacing: 0.2rem;
  text-shadow: 0.3rem 0.5rem rgba(0, 0, 0, 0.4);
  opacity: 0;
  animation: movebanner 1s 0.5s forwards;
  overflow: hidden;
}

.banner p {
  font-family: "Josefin Slab", serif;
  font-size: 4rem;
  color: #fff;
  width: 70%;
  letter-spacing: 0.1rem;
  margin-bottom: 3rem;
  text-shadow: 0.3rem 0.5rem rgba(0, 0, 0, 0.4);
  opacity: 0;
  animation: movebanner 1s 0.7s forwards;
  overflow: hidden;
}

.banner button {
  width: 25rem;
  height: 7rem;
  border: 0.5rem solid chocolate;
  background-color: chocolate;
  color: #fff;
  cursor: pointer;
  background-color: transparent;
  font-family: "Muli", serif;
  font-size: 2rem;
  text-shadow: 0 0.2rem 0.4rem rgba(0, 0, 0, 0.2);
  box-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.4);
  opacity: 0;
  animation: movebanner 1s 0.9s forwards;
  overflow: hidden;
}

.banner button:hover {
  transition: ease-in-out 0.9s;
  background-color: chocolate;
}

@keyframes movebanner {
  0% {
    transform: translateY(40rem) rotateY(-90deg);
  }

  50% {
    transform: translateY(40rem) rotateY(-20deg);
  }

  100% {
    transform: translateY(0) rotateY(0);
    opacity: 1;
  }
}

/*sidebar*/
.sidebar {
  width: 40rem;
  height: 100vh;
  position: fixed;
  top: 0;
  right: -40rem;
  background-color: chocolate;
  opacity: 0.8;
  transition: right 0.5s;
  z-index: 9;
}

.change .sidebar {
  right: 0;
}

.menu {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.menu-item {
  text-align: center;
  font-size: 5rem;
  position: relative;
}

.menu-link:hover {
  width: 100%;
  color: pink;
  transition: 0.9 ease-in-out;
}

.menu-link {
  font-family: "Baloo Da 2", serif;
  font-size: 3.8rem;
  color: #555;
  opacity: 1;
}

.social-media {
  position: absolute;
  bottom: 3rem;
  width: 100%;
  display: flex;
  justify-content: center;
}

.social-media i {
  font-size: 2.2rem;
  margin: 3rem;
  width: 4.5rem;
  height: 4.5rem;
  background-color: pink;
  color: #555;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  transition: background-color 0.3s;
}

.social-media i:hover {
  background-color: white;
}

.about-us {
  width: 100%;
  background-color: #f5f5f5;
  padding-bottom: 15rem;
  background-image: url(images/slika.png);
  background-repeat: repeat;
  background-position: center;
}

.section-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 7rem 0 10rem 0;
}

.section-heading {
  font-family: "Muli", serif;
  font-size: 5rem;
  font-weight: 300;
  color: #555;
  margin-bottom: 6rem;
}

.underline {
  width: 12rem;
  height: 0.3rem;
  background-color: chocolate;
  margin-top: -5rem;
}

.services {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(16, 1fr);
  grid-template-rows: repeat(6, 6rem);
  grid-row-gap: 4rem;
}

.service {
  width: 100%;
  margin-bottom: 2rem;
}

.service:nth-child(1) {
  grid-column: 4/7;
  grid-row: 1/3;
}

.service:nth-child(2) {
  grid-column: 3/6;
  grid-row: 3/5;
}

.service:nth-child(3) {
  grid-column: 4/7;
  grid-row: 5/-1;
}

.service:nth-child(4) {
  grid-column: 11/14;
  grid-row: 1/3;
}

.service:nth-child(5) {
  grid-column: 12/14;
  grid-row: 3/5;
}

.service:nth-child(6) {
  grid-column: 11/14;
  grid-row: 5/-1;
}

.service-heading {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.service-heading i {
  font-size: 4rem;
  color: chocolate;
  margin-right: 2rem;
  transition: 0.5s ease-in-out;
}

.service-heading i:hover {
  color: #555;
  transform: rotate(15deg);
}

.service-heading h3 {
  font-family: "Baloo Da 2", serif;
  font-size: 2.6rem;
  line-height: 2.6rem;
  font-weight: 400;
  transition: 1s ease-in-out;
}

.service-heading h3:hover {
  border-bottom: solid 0.1rem chocolate;
  -webkit-animation: dude 0.75s 1 forwards;
  animation: dude 0.75s 1 forwards;
}

@-webkit-keyframes dude {
  0% {
    width: 0;
  }

  100% {
    width: 50%;
  }
}

@keyframes dude {
  0% {
    width: 0;
  }

  100% {
    width: 50%;
  }
}

.service-text {
  font-family: "Josefin Slab", serif;
  font-size: 1.2rem;
  text-align: justify;
  /* letter-spacing: 0.1rem; */
}

.about-us-img-wrapper {
  grid-column: 7/11;
  grid-row: 2/6;
  width: 100%;
}

.about-us-img-wrapper img {
  width: 100%;
  object-fit: cover;
  opacity: 0.8;
}

.team {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0 5rem 20rem 5rem;
}

.cards-wrapper {
  display: flex;
  justify-content: space-evenly;
  margin-top: 8rem;
  width: 100%;
}

.card {
  height: 45rem;
  width: 37rem;
  box-shadow: 0 1rem 4rem rgba(0, 0, 0, 0.4);
  border-radius: 0.5rem;
  position: relative;
}

.card-img-wrapper {
  width: 100%;
  height: 100%;
  background-color: black;
  border-radius: 0.5rem;
}

.card-img-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.8;
  border-radius: 0.5rem;
  transition: opacity 0.3s;
}

.card:hover .card-img-wrapper img {
  opacity: 0.5;
}

.card-info {
  position: absolute;
  bottom: 0rem;
  padding: 1.5rem;
  text-shadow: 0 0.3rem 0.5rem #555;
  /* background-color: rgba(0, 0, 0, 0.2); */
  opacity: 0;
  visibility: hidden;
  transition: all 0.5s ease-in-out;
}

.card:hover .card-info {
  opacity: 1;
  visibility: visible;
}

.card-info h2 {
  font-family: "Baloo Da 2", serif;
  font-size: 2.5rem;
  line-height: 2.5rem;
  font-weight: 300;
  color: #fff;
  /* -webkit-text-stroke: 0.035rem chocolate; */
}

.card-info h3 {
  font-family: "Muli", serif;
  font-size: 2rem;
  font-weight: 500;
  color: rgb(236, 195, 165);
  margin-bottom: 1rem;
}

.card-info p {
  font-family: "Baloo Da 2"serif;
  font-size: 1.2rem;
  line-height: 1.6rem;
  font-weight: 300;
  color: #eee;
  width: 80%;
  margin-bottom: 2rem;
}

.card-info button {
  width: 10rem;
  height: 3rem;
  background-color: chocolate;
  border: none;
  font-family: "Baloo da 2", serif;
  font-size: 1.4rem;
  color: #eee;
  border-radius: 0.3rem;
  box-shadow: 0 0.1rem 0.8rem rgba(0, 0, 0, 0.4);
}

.contact {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-wrapper {
  width: 60%;
  height: 75rem;
  display: flex;
  box-shadow: 0 3rem 7rem rgba(0, 0, 0, 0.4);
}

.contact-left {
  width: 35%;
  background-image: url(images/slika2.jpg);
  background-size: cover;
}

.contact-right {
  width: 65%;
  background-color: #eee;
  padding: 3rem 10rem 10rem 10rem;
}

.contact-heading {
  font-family: "Baloo da 2"serif;
  font-size: 6rem;
  font-weight: 300;
  color: chocolate;
  margin-bottom: 5rem;
  text-align: center;
}

.input-grup {
  position: relative;
}

.contact-right form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.field {
  width: 45rem;
  background-color: transparent;
  border: none;
  border-bottom: 0.2rem solid chocolate;
  margin: 3rem 0;
  padding: 1rem 1rem 1rem 0;
  font-family: "Muli", serif;
  font-size: 1.6rem;
  color: #555;
}

.input-grup input {
  height: 4rem;
}

.input-grup textarea {
  max-width: 45rem;
  max-height: 7rem;
}

.input-grup label {
  position: absolute;
  left: 0;
  font-family: "Bloo da 2", serif;
  font-size: 1.8rem;
  color: #555;
  text-transform: uppercase;
  pointer-events: none;
  transition: all 0.5s;
}

.input-label {
  bottom: 3rem;
}

.message {
  bottom: 6rem;
}

.field:focus~label {
  transform: translateY(-3rem);
  font-size: 1.2rem;
}

.submit-btn {
  width: 45rem;
  height: 5rem;
  background-color: transparent;
  color: #555;
  margin-top: 2rem;
  font-family: "Muli", serif;
  font-size: 1.8rem;
  letter-spacing: 0.2rem;
  border: 0.3rem solid chocolate;
  transition: 0.6s ease-in-out;
}

.submit-btn:hover {
  background-color: chocolate;
  color: white;
}

.footer {
  width: 100%;
  height: 15rem;
  background-color: #555;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-content {
  width: 60%;
  display: flex;
  justify-content: space-between;
}

.footer-content p {
  font-family: "Baloo da 2", serif;
  font-size: 1.6rem;
  color: chocolate;
}

.social-list a {
  margin: 0 2rem;
}

.social-list i {
  font-size: 2rem;
  color: chocolate;
}

.scroll-btn {
  position: fixed;
  right: 5rem;
  bottom: 5rem;
  width: 4.5rem;
  height: 4.5rem;
  background-color: chocolate;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  color: #555;
  box-shadow: 0 0.1rem 0.6rem rgba(0, 0, 0, 0.8);
  border-radius: 0.3rem;
}